@charset "UTF-8";
body{
    color:white;
    background-image: linear-gradient(to bottom,purple,orange);
    font-family: Arial, Helvetica, sans-serif;
}
table{
    border-collapse: collapse;
    width: 400px;
    border: 2px solid blue;
    
}
td{
    border: 1px solid black;
    padding: 8px;
}
tr.linha2{
    background-color: yellow;
}
tr.linha1{
    background-color: red;
}
tr.linha3{
    background-color: orange;
}
tr.linha4{
    background-color: blue;
}
tr.linha5{
    background-color: green;
}
tr.linha6{
    background-color: purple;
}
